p {
    font-size: 12px;
    //margin-left: 20px;
    padding-left: 20px;
    //Add 0725
    margin-left: 10px;
}

.inputFile {
    padding:10px;
    background:black;
    color:snow;
}
body {
    width:1217px;
    //width:1070px;
    margin: 0px auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color:black;
    background-color: #f1f1f1;
    //background-color: #f1f1f1;
    //background-color: #e6f7fa;
    //background-color: ddded3;
}

h1 {
    width: 685px;
    //    background-color: #848484;
    //background-color: gray;
    font-size: 16px;
    //color: snow;
    color: black;
    text-align: left;
    //margin-top: 5px;
    margin-bottom: 0px;
    //padding: 5px;
    //
//    -webkit-border-top-right-radius: 10px;
//    -webkit-border-top-left-radius: 10px;
//    -moz-border-radius-topright: 10px;
//    -moz-border-radius-topleft: 10px;
//
//    border-top-right-radius: 10px;
//    border-top-left-radius: 10px;
//    background-image: -o-linear-gradient(90deg , rgb(127,127,127) 0%, rgb(166,166,166) 100%);
//    background-image: -moz-linear-gradient(90deg , rgb(127,127,127) 0%, rgb(166,166,166) 100%);
//    background-image: -webkit-linear-gradient(90deg , rgb(127,127,127) 0%, rgb(166,166,166) 100%);
//    background-image: -ms-linear-gradient(90deg , rgb(127,127,127) 0%, rgb(166,166,166) 100%);
//    background-image: linear-gradient(90deg , rgb(127,127,127) 0%, rgb(166,166,166) 100%);
}

h2 {
    width: 685px;
    //background-color: #E8E8E8;
    font-size: 14px;
    //color: #0033CC;
    text-align: left;
    margin-top: 1px;
    margin-bottom: 2px;
    padding: 5px;
    padding-top: 2px;
    padding-bottom: 0px;
}

.navBar {
    float: left;
    width: 690px;
    text-align: left;
    font-size: 12px;
    margin-bottom: 5px;
}
a:link { text-decoration: none; }

h3 {
    color: blue;
    font-weight: bold;
    font-size: 12px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 0px;
}

h4 {
    color: blue;
    font-weight: bold;
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 0px;
    margin-left: 20px;
}

p {
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.left {
    margin-left: 0px;
    text-align: left;
}

.bluebold {
    color: blue;
    font-weight: bold;
}

.redbold {
    color: red;
    font-weight: bold;
}

.greenbold {
    color: darkgreen;
    font-weight: bold;
}

.highlight {
    padding: 2px 5px;
    font-weight: bold;
    color: green;
    background-color: #FFFF99;
    border: 1px solid red;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
span{
        font-size: 10px;
}
table {
    //margin-top: 5px;
    margin-left: 20px;
    border-collapse: collapse;
    //font-size: 10px;
}

table td { //height: 25px; }
table.addRcol { margin: 0px; }
table.mt0 { margin-top: 0px; }

.stLy {
    padding: 2px 5px;
    font-size: 12px;
    font-weight: bold;
    color: yellow;
    background-color: #6959CD;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

input[type="text"] {
    text-align: right;
    padding-right: 2px;
    width: 40px;
    font-size: 11px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
input[type="text"].w30 { width: 30px; }
input[type="text"].w50 { width: 50px; }

#colLoad input[type="text"] { width: 50px; }

select { font-size: 11px; }

input[type="button"] {
    padding: 2px 4px;
    font-size: 11px;
}

input[type="button"].big1 {
    color: green;
    padding: 3px 5px;
    font-weight: bold;
    font-size: 11px;
}

input[type="button"].big2 {
    color: blue;
    //padding: 3px 7px;
    font-weight: bold;
    font-size: 10px;
    //margin-top: 8px;
}

input[type="button"]:hover { color: red; }

.read {background-color: #f5f5dc;}
.mtop10 { margin-top: 10px; }
.pleft5 { padding-left: 5px; }
.pleft7 { padding-left: 7px; }
.pleft10 { padding-left: 10px; }
.pleft15 { padding-left: 15px; }
.right { text-align: right; }

.inputdata {
    float: left;
    width: 694px;
    //border: 1px solid black;
}

#picture {
    //float: left;
    width: 670px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    /*    border: 1px solid green;*/
}

#picCanvas {
    //border: 1px solid green;
    vertical-align : bottom;
    width: 650px;
    //height: 180px;
}

/*#picCanvas { border: 1px solid green; }*/

.inputsect {
    float: left;
    width: 250px;
    padding-top: 5px;
    padding-bottom: 5px;
    /*    border: 1px solid green;*/
}

.pic {
    float: left;
    width: 310px;
    padding-top: 5px;
    padding-bottom: 5px;
    /*    border: 1px solid green;*/
}

#computBtn {
    clear: left;
    width: 664px;
    padding-top: 3px;
    margin-left: 15px;
    margin-bottom: 5px;
    background-color: #E8E8E8;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

#Analysis {
    float: left;
    width: 430px;
    margin-left: 10px;
//    margin-bottom: 20px;
    padding-bottom: 10px;
}

#Analysis h2 {
    width: 658px;
//    background-color: #FFFF99;
    font-size: 12px;
    text-align: left;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
//    border: 1px solid black;
}

#dwgCanvas {
    margin-left: 10px;
    /*	border: 1px solid blue; */
}

.dir {
    float: left;
    width: 48%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 10px;
    //text-align: center;
    /*    border: 1px solid green;*/
}

.dir2 {
    float: left;
    //width: 98%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 10px;
    //text-align: center;
    /*    border: 1px solid green;*/
}

.boxA {
    border: none;
    &:after {
	content: "";
	display: block;
	clear: both;
    }
}

.box5B {
    float: left;
    //border-color: yellow;**/
    //margin-left: 10px;
    //width: 58%; /** 横幅50% **/
    //background-color: #e6f7fa;
    //background-color: #a5a5a5;
    //background-color: #b0c4de;
    background-color: #d8d8d8;
    width: 750px;
    margin-bottom: 10px;
    position: fixed;
}

/** Menu barの裏に配置して、box5Rを活かす。**/
.boxBackControl{
    float: left;
    width: 750px;
    height: 60px;
    background-color: #f1f1f1;
    //background-color: #e6f7fa;
}

.box5R {
    float: left;
    //padding: 60px 0 0 0;
    background-color: #f1f1f1;
    margin-left: 10px;
    //width: 58%; /** 横幅50% **/
    width: 700px; /** 横幅50% **/
    //position: absolute; left:460px;
    //postion:absolute; top:60px;
    //overflow-y: scroll;
    //border-color: yellow;
    /*
    position: fixed;
    top: 60px;
    left: 0px;
    height: 100%;
    overflow-y: scroll;
   */
}

.box5L {
    float: right;
    //background-color: #d6d6d6;
    background-color: #d8d8d8;
    //background-color: #b0c4de; //blue
    /**text-align: center;**/
    /**border-color: yellow;**/
    //width: 39%; /** 横幅50% **/
    width: 350px; /** 横幅50% **/
    height: 100%;
    position: fixed; left:750px;
}

@page {
    size: A4;
    margin: 12.7mm 9.7mm;
}

.graphL {
    float: left;
    text-align: left;
//    border:1px solid;
    width: 343px;
//    height: 225px;
}

.graphR {
    float: right;
    text-align: left;
//    border:1px solid;
    width: 343px;
//    height: 225px;
}

.stressL {
    float: left;
    text-align: left;
//    border:1px solid;
    width: 343px;
//    height: 225px;
}

.stressR {
    float: right;
    text-align: left;
//    border:1px solid;
    width: 343px;
//    height: 225px;
}


input[type="text"].w30 { width: 30px; }
input[type="text"].w70 { width: 70px; }

.outP {
    font-size: 12px;
    margin-left: 10px;
    padding-left: 5px;
}
